# =====================
# CACHE / TEMP
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =====================
# MODEL FILES
# =====================
*.pth
SavedModels/

# =====================
# COLAB & JUPYTER
# =====================
*.ipynb_checkpoints/

# =====================
# MAC TRASH
# =====================
.DS_Store

# =====================
# ALLOW THIS
# =====================
!Datasets/
